@model VideoCatalogViewModel

<h2>Video Catalog</h2>

<table class="table">
    <thead>
        <tr>
            <th>File Name</th>
            <th>File Size (KB)</th>
            <th>Play</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var video in Model.Videos)
        {
            <tr>
                <td>@video.FileName</td>
                <td>@(video.FileSize / 1024)</td>
                <td>
                    <button class="btn btn-primary play-btn" data-filename="@video.FileName">Play</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<video id="videoPlayer" controls hidden>
    <source id="videoSource" src="" type="video/mp4">
    Your browser does not support the video tag.
</video>

@section scripts
{
    <script>
        $(".play-btn").click(function () {
            var fileName = $(this).data("filename");

            $("#videoSource").attr("src", "/media/" + fileName);

            $("#videoPlayer").attr("hidden", false);

            $("#videoPlayer")[0].load();
            $("#videoPlayer")[0].play();
        });
    </script>
}
