@{
    ViewBag.Title = "Upload Videos";
}

<h2>Upload MP4 Videos</h2>

<form id="uploadForm" enctype="multipart/form-data">
    <input type="file" id="videoFileInput" name="files" multiple accept=".mp4" />
    <button type="submit" class="btn btn-primary">Upload</button>
</form>

<p id="uploadStatus"></p>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="/js/upload.js"></script>
